<include file="Index/header"/>
<include file="Index/nav"/>



        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6">

                        <form class="form-horizontal" id="rehe-form">
                            <input type="hidden" name="test" value="test">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">课程名字:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="class" id="select" onchange="getOption()">
                                        <option>请选择</option>
                                        <volist name="class" id="class">
                                            <option name="class" value="{$class.class_id}">{$class.grade}{$class.subject}</option>
                                        </volist>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">学生名字:</label>
                                <div class="col-sm-5">
                                    <select class="form-control" name="stu">
                                        <option id="rehe-select-op">请选择</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">分数:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="score" id="inputPassword3" placeholder="请填写分数">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputPassword3" class="col-sm-2 control-label">分数备注:</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="score_remark" id="inputPassword3" placeholder="请填写分数备注">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="button" class="btn btn-info btn-fill" onclick="formSubmit()">提交</button>
                                </div>
                            </div>


                        </form>


                    </div>

                </div>
            </div>

            <script>
                var SCOPE = {
                    //点击提交后跳转的链接
                    'add_url' : 'admin.php?c=score&a=add',
                    //成功后返回的链接
                    'success_url' : 'admin.php?c=score'
                }
            </script>

            <include file="Index/tail"/>